<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eins.book.store.dao.BookToCartItemMapper">
  <resultMap id="BaseResultMap" type="com.eins.book.store.entity.BookToCartItem">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="book_id" jdbcType="BIGINT" property="bookId" />
    <result column="cart_item_id" jdbcType="BIGINT" property="cartItemId" />
  </resultMap>
</mapper>